@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-v4020-Bold.woff2) format('woff2'),
        url(./Raleway-v4020-Bold.woff) format('woff'),
        url(./Raleway-v4020-Bold.ttf) format('ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-v4020-Regular.woff2) format('woff2'),
        url(./Raleway-v4020-Regular.woff) format('woff'),
        url(./Raleway-v4020-Regular.ttf) format('ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-v4020-Regular.woff2) format('woff2'),
        url(./Raleway-v4020-Regular.woff) format('woff'),
        url(./Raleway-v4020-Regular.ttf) format('ttf');
    font-weight: 400;
    font-display: swap;
}