body {
    background-color: #f5f5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
address {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    min-height: 250px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.header {
    display: grid;
    padding: 94px 50px 96px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: circle;
}

.header__link {
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.heder__logo {
    display: block;
}

.header__logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font: inherit;
    justify-self: end;
    text-underline-offset: 4px;
    line-height: 24.3px;
    font-size: 18px;
    width: 240px;
}

.address__link {
    color: #000000;
}

.cover {
    position: relative;
    min-height: 757px;
    color: #ffffff;
    background: url(../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg);
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
}

.cover__title {
    position: relative;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 133px;
    padding: 160px 29px 100px 50px;
    z-index: 3;
}

.aligned-text {
    display: block;
    z-index: 3;
}

.letter-spacing-extended {
    letter-spacing: 28px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    align-items: center;
    padding: 0 50px 50px;
    gap: 110px;
    color: rgba(255, 255, 255);
    z-index: 0;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    z-index: 0;
}

.bet-button {
    width: 256px;
    height: 51px;
    font-size: 22px;
    text-transform: uppercase;
    color: rgba(255, 255, 255);
    z-index: 3;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.lots {
    margin: 181px 24px 120px;
}

.lots_heading {
    margin: 0px 891px 27px 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.lotscard_list {
    display: flex;
    gap: 25px;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.lotscard-list-item {
    width: 334px;
    min-height: 596px;
} 

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.card_title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: underline;
    margin: 48px 40px 0px;
    z-index: 2;
}

.card_text {
    display: flex;
    flex-direction: column-reverse;
    color: rgba(255, 255, 255);
    font-size: 20px;
    line-height: 1.2;
    margin: 0px 40px 48px;
    z-index: 2;
}

.card_type_film {
    background-image: url(../images/b6c1b9c4f9bad749215d12244cdd86581803c147.jpg);
}

.card_type_book {
    background-image: url(../images/5643432f06853e92f2a26a4fdddcd6a380a702f7.jpg);
}

.card_type_picture {
    background-image: url(../images/3543ee6f0852101f5ab31479457065d43c824f26.jpg);
}

.lots__look-more-link {
    display: flex;
    margin: 30px 820px 0px 40px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #000000;
}

.about {
    margin: 0px 24px 182px;
}

.about__column {
    display: grid;
    grid-template-columns: 312px 1fr;
    padding: 32px 0 0 47px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
    padding: 104px 0 0;
}

.about__text__description-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 690px;
}

.about__text {
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
    justify-content: space-between;
}

.address__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font: inherit;
    text-underline-offset: 4px;
    font-size: 18px;
    line-height: 24.3px;
    width: 265px;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list-item {
    font-size: 18px;
    line-height: 1.2;
    text-underline-offset: 4px;
    list-style-type: none;
    text-align: center
}

.footer__menu-link {
    color: #000000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 48px;
}